<html>
  <head>
    <title>Invite</title>
  </head>
  <body>
    <p>You have been invited to joint the workspace <b>{{workspaceName}}</b> on Goodtok</p>
    <p>Your one-time password is: <b>{{oneTimePassword}}</b></p>
    <p>You can use it at the following URL:
      <a href="{{inviteUrl}}">{{inviteUrl}}</a></p>
  </body>
</html>