<html>
  <head>
    <title>Invite</title>
  </head>
  <body>
    <p>You have been invited to joint the workspace <b>{{workspaceName}}</b> on Goodtok</p>
    <p>To accept the invitation, please click the following link:
      <a href="{{inviteUrl}}">{{inviteUrl}}</a>
    </p>
  </body>
</html>