<!DOCTYPE html>
<html>
<head>
  <title>Invite</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      color: #333;
      line-height: 1.6;
      padding: 20px;
    }
    .container {
      background: #fff;
      padding: 20px;
    }
    .button {
      display: inline-block;
      padding: 10px 20px;
      line-height: 20px;
      background: linear-gradient(323deg, #FF9965 30.56%, #DF682B 118.19%);
      color: white !important;
      text-decoration: none;
      border-radius: 5px;
      font-weight: bold;
      text-align: center;
      border: none;
      cursor: pointer;
    }
    .goodtok-brown {
      color: #27150C;
    }
    @media (prefers-color-scheme: dark) {
      body {
        background-color: #27150C;
        color: #f4f4f4;
      }
      .container {
        background: #27150C;
      }
      .goodtok-brown {
        color: #f4f4f4;
      }
    }
  </style>
</head>
<body>
  <div class="container">
    <p>You have been invited to join the workspace <b class="goodtok-brown">{{workspaceName}}</b> on Goodtok.</p>
    <p>Assigned one-time password: <b class="goodtok-brown">{{oneTimePassword}}</b></p>
    <p>For access, please click on the button below:</p>
    <a href="{{inviteUrl}}" class="button">Access Workspace</a>
  </div>
</body>
</html>
