@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');

.goodtok-video {
  background-color: #fff;
  border-radius: 30px 30px 12px 12px;
  width: 584px;
  height: 388px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.25);
}

.goodtok-video__header {
  height: 35px;
  padding: 16px 24px 10px 24px;
}

.goodtok-video__header__container {
  display: flex;
  align-items: center;
  height: 35px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.goodtok-video__header__container > *:not(:last-child) {
  margin-right: 10px;    /* Adds a right margin to all children except the last one */
}

.goodtok-video__header__container > :last-child {
  margin-left: auto;     /* Pushes the CloseIcon to the end of the container */
}

.goodtok-video__container {
  height: 327px;
  background-color: #fff;
  position: relative;
  contain: content;
  border-radius: 0px 0px 12px 12px;
}

.goodtok-video__customer {
  position: absolute;
  left: 24px;
  top: 24px;
  height: 90px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

/*
 * TODO: we should get the size of the video and the size of the container and
 * then position the video in the center of the container. 
 */
.goodtok-video__staff {
  background-color: #fff;
  position: relative;
  top: 4px;
  left: -20px;
  height: 327px;
  border-radius: 0px 0px 12px 12px;
}

.muted-overlay {
  position: absolute;
  left: 24px;
  top: 24px;
  height: 90px;
  width: 160px;
  border-radius: 4px;
  z-index: 1;
  background-color: #D9D9D9;
  display: flex;
  justify-content: center;
  align-items: center;
}
