body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #e6fff5, #f0fdff);
  height: 100vh;
  margin: 0;
  padding: 0;
}

.title {
  font-size: 74px;
  font-weight: 700;
  color: #5fcfce;
  margin-bottom: 10px;
  letter-spacing: -1px;
}

.tagline {
  font-size: 26px;
  color: #053204;
  font-weight: 600;
}
